$primary-red: #ef5350;
$dark-red: #c62828;
$heavy-light-grey: #d6d6d6;
$light-grey: #e0e0e0;
$lighter-grey: #e6e6e6;
$xx-lighter-grey: #f5f5f5;
$page-transition-time: 1s;
$medium-animation-time: 0.3s;
$short-animation-time: 0.1s;
$header-height: 4rem;
$expanded-poke-list: 14rem;

$std-box-shadow: 0 2px 5px grey;
$narrow-box-shadow: 0 2px 3px grey;

@mixin flex($center, $direction, $gap) {
  @if not $gap {
    $gap: 0.5rem;
  }

  @if $center {
    justify-content: center;
    align-items: center;
  }

  display: flex;
  flex-direction: $direction;
  gap: $gap;
}
