@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;800;900&display=swap');

@import './variables';
@import './keyframes';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: rgba($color: grey, $alpha: 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: grey, $alpha: 0.3);
    border-radius: 20px;
  }
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body, #root {
  height: 100%;
}

#root {
  overflow-x: hidden;
}

header {
  height: $header-height;
  width: 100%;
  background-color: rgba($color: $dark-red, $alpha: 0.9);
  box-shadow: 0 0 5px $dark-red;
  padding: 1rem 5%;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  
  div {
    font-family: Orbitron;
    font-weight: 900;
    font-size: 2rem;
    height: 100%;
    background-color: rgba($color: white, $alpha: 1);
    color: $dark-red;
    width: fit-content;
    border: 0px solid white;
    border-radius: 5px;
    padding: 0 1rem; 
    -webkit-text-stroke: 1px rgba($color: white, $alpha: 0.8);
    @include flex($center: true, $direction: null, $gap: null);
  }
}

.basic-data {
  position: relative;
  z-index: 5;

  .pokeId {
    font-size: 1.5rem;
    font-family: 'Nova Mono';
  }
  
  .pokeName {
    font-size: 1.75rem;
    font-weight: bold;
  }
  
  .pokeTypes {
    margin: 0.5rem 0;
    @include flex($center: false, $direction: null, $gap: null);
  
    div {
      font-size: 0.75rem;
      border-radius: 30px;
      padding: 0.5rem;
      font-weight: bold;
      width: 5rem;
      text-align: center;
      box-shadow: 0 2px 1px rgba($color: grey, $alpha: 0.3);
      border: 2.5px solid white;
    }
  }
}

#main {
  position: relative;
  display: flex;
  height: calc(100vh - #{$header-height});
  top: $header-height;  
}

#main.loading-view {
  .lds-facebook {
    @include flex(true, null, null);
    position: relative;
    width: 100%;
    height: 100%;

    div {
      width: 16px;
      background-color: $heavy-light-grey;
      animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      
      &:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
      }

      &:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
      }

      &:nth-child(3) {
        left: 56px;
        animation-delay: 0;
      }
    }
  }

  #generations-section,
  #poke-grid-container,
  #poke-list-container,
  #detail-view {
    display: none;
  }
}

#main.generation-view {
  #poke-grid-container,
  #poke-list-container,
  #detail-view {
    display: none;
  }
}

#main.pokemon-list-view {
  .lds-facebook,
  #generations-section {
    display: none;
  }
}

#main.split-view {
  animation: delayed-background-fade-in $page-transition-time forwards;

  #detail-view {
    animation: slide-in-right-to-left $page-transition-time linear forwards;
  }

  #poke-grid-container {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0s linear $page-transition-time, opacity $page-transition-time linear, visibility $page-transition-time linear;
  }

  #poke-list {
    animation: slide-in-left-to-right $page-transition-time linear forwards;
  }
}

#main.split-view.reverse-split-view {
  background-color: white;
  transition: background-color 0s linear;
  animation: none;

  #detail-view {
    animation: slide-out-left-to-right $page-transition-time linear forwards;
  }
  
  #poke-grid-container {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: opacity $page-transition-time linear;
  }

  #poke-list {
    animation: slide-out-right-to-left $page-transition-time linear forwards;
  }
}

.background-patterns {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;

  * {
    position: absolute;
  }
}

button, select {
  font-weight: bold;
  width: fit-content;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  transition: background-color $medium-animation-time linear, color $medium-animation-time linear, transform $medium-animation-time linear;
  margin: 0;
  padding: 0;
  border-radius: 7px;
  
  &:hover {
    background-color: $lighter-grey;
    color: rgb(50, 50, 50);
  }

  svg {
    transition: inherit;
    height: 2rem;
  }
}

button {
  @include flex(true, null, 0);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid grey;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1rem;
  padding-left: 0.5rem;
  font-family: inherit;
  cursor: pointer;
  
  &:hover {
    border: 1px solid transparent;
  }

  * {
    font-family: inherit;
    background-color: white;
  }
}